#u160-4
{
	font-family: pontano-sans-n4, sans-serif;
}

#u137-4
{
	font-family: pontano-sans-n4, sans-serif;
}

#u131-4
{
	font-family: pontano-sans-n4, sans-serif;
}

#u153-4
{
	font-family: pontano-sans-n4, sans-serif;
}

#u116-4
{
	font-family: pontano-sans-n4, sans-serif;
}

#u148-4
{
	font-family: pontano-sans-n4, sans-serif;
}

#u219-5,#u242-5
{
	font-family: raleway-n4, sans-serif;
}

#u217-8,#u245-10,#u250-8,#u251-8,#u189-10,#u207-8,#u219-3,#u242-3,#u199-10,#u247-10
{
	font-family: raleway-n7, sans-serif;
}

