.version.index /* version checker */
{
	color: #00000C;
	background-color: #099BFD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 543.9500000000007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 47px;
	width: 0.01px;
}

#pu96
{
	width: 0.01px;
	padding-bottom: 286px;
	margin-left: -100px;
}

#u96
{
	z-index: 109;
	height: 114px;
	position: fixed;
	top: 0px;
	background: #131212 url("../images/bar.jpg") no-repeat left top;
	background-size: contain;
}

#u96-bw
{
	z-index: 109;
}

#u88
{
	z-index: 110;
	width: 109px;
	height: 75px;
	position: fixed;
	top: 20px;
	left: 100px;
	background: transparent url("../images/logo%20white.png") no-repeat center center;
	background-size: contain;
}

.js #u96.ose_pre_init,.js #u88.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pamphletu104
{
	z-index: 111;
	width: 0.01px;
	height: 16px;
	position: fixed;
	top: 270px;
	right: 803px;
}

#u107
{
	z-index: 112;
	width: 70px;
	position: relative;
	margin-right: -10000px;
}

#u108
{
	position: absolute;
	width: 70px;
	height: 16px;
}

#u111
{
	width: 741px;
	background-color: transparent;
	position: fixed;
	top: 10px;
	right: 36px;
}

#u111popup
{
	z-index: 114;
}

#u112
{
	z-index: 115;
	width: 741px;
	height: 104px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#menuu113
{
	z-index: 116;
	width: 599px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 58px;
}

#u156
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u157
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u160-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C9C9C9;
	text-align: center;
	font-family: pontano-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u157:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u157:hover #u160-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u135
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u136
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u137-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C9C9C9;
	text-align: center;
	font-family: pontano-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u157.MuseMenuActive #u160-4,#u136:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u136:hover #u137-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u128
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u129
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u131-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C9C9C9;
	text-align: center;
	font-family: pontano-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u136.MuseMenuActive #u137-4,#u129:hover #u131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u129:hover #u131-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u149
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u152
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u157.MuseMenuActive,#u136.MuseMenuActive,#u129.MuseMenuActive,#u152:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C9C9C9;
	text-align: center;
	font-family: pontano-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u129.MuseMenuActive #u131-4,#u152:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u152:hover #u153-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u114
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u115
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u152.MuseMenuActive,#u115.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C9C9C9;
	text-align: center;
	font-family: pontano-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u152.MuseMenuActive #u153-4,#u115:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u115:hover #u116-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u142
{
	width: 99px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u145
{
	width: 99px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u145.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 99px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C9C9C9;
	text-align: center;
	font-family: pontano-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u145:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u145:hover #u148-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u157.MuseMenuActive #u160-4 p,#u136.MuseMenuActive #u137-4 p,#u129.MuseMenuActive #u131-4 p,#u152.MuseMenuActive #u153-4 p,#u115.MuseMenuActive #u116-4 p,#u145.MuseMenuActive #u148-4 p
{
	color: #DC7C1E;
	visibility: inherit;
}

#u168
{
	z-index: 153;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 670px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u80
{
	z-index: 2;
	width: 100px;
	min-height: 25px;
	margin-left: 205px;
	top: -126px;
	margin-bottom: -25px;
}

#pamphletu322
{
	z-index: 3;
	width: 0.01px;
	height: 16px;
	top: 229px;
	right: 877px;
}

#u327
{
	z-index: 4;
	width: 70px;
	margin-right: -10000px;
}

#u328
{
	width: 70px;
	height: 16px;
}

#u329popup
{
	z-index: 6;
}

#u329
{
	width: 323px;
	bottom: 25px;
	left: 50%;
	margin-left: -154px;
}

#u330
{
	z-index: 7;
	width: 323px;
	height: 104px;
	margin-right: -10000px;
}

#u253
{
	z-index: 8;
	width: 110px;
	height: 88px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 55px;
}

#u253:hover
{
	width: 110px;
	height: 88px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu264
{
	z-index: 155;
	width: 0.01px;
	height: 16px;
	position: fixed;
	top: 908px;
	right: 1173px;
}

#u318
{
	z-index: 156;
	width: 70px;
	position: relative;
	margin-right: -10000px;
}

#u319
{
	position: absolute;
	width: 70px;
	height: 16px;
}

#u267
{
	width: 741px;
	background-color: transparent;
	position: fixed;
	top: 649px;
	right: 406px;
}

#u267popup
{
	z-index: 158;
}

#u268
{
	z-index: 159;
	width: 741px;
	height: 104px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u108,.ie #u328,.ie #u319,.ie #u268
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 852px;
}

#u86
{
	z-index: 9;
	min-height: 1274.8999999999999px;
	background: #CECECE url("../images/u86-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(8%, #F7F7F7),to(#CECECE));
	background: -webkit-linear-gradient(top,#F7F7F7 8%,#CECECE );
	background: linear-gradient(to bottom,#F7F7F7 8%,#CECECE );
	padding-bottom: 0px;
}

#u86_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 80px;
	padding-bottom: 149px;
}

#miss
{
	left: 51px;
	position: relative;
}

#u188
{
	z-index: 20;
	width: 572px;
	height: 404px;
	left: 708px;
	margin-top: 215px;
	position: relative;
	background: transparent url("../images/pq1v2.jpg") no-repeat center center;
	background-size: cover;
}

#u209
{
	z-index: 18;
	width: 342px;
	padding-bottom: 115px;
	left: 938px;
	margin-top: 5px;
	position: relative;
	background: transparent url("../images/athens_night_pyli_adrianou_510_340.jpg") no-repeat right center;
	background-size: cover;
}

#u217-8
{
	z-index: 72;
	width: 289px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u86-bw
{
	z-index: 9;
	min-height: 1274.8999999999999px;
}

#u231
{
	z-index: 10;
	min-height: 1275px;
	background: #CECECE url("../images/u86-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(8%, #F7F7F7),to(#CECECE));
	background: -webkit-linear-gradient(top,#F7F7F7 8%,#CECECE );
	background: linear-gradient(to bottom,#F7F7F7 8%,#CECECE );
}

#u231_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u244
{
	z-index: 13;
	width: 537px;
	background-color: transparent;
	margin-bottom: -47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 128px;
}

#u243
{
	z-index: 15;
	width: 576px;
	padding-bottom: 99px;
	left: -3px;
	position: relative;
	background: transparent url("../images/21_bowie3_g_w.jpg") no-repeat right center;
	background-size: cover;
}

#u245-10
{
	z-index: 32;
	width: 289px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 268px;
}

#u248
{
	z-index: 17;
	width: 806px;
	padding-bottom: 115px;
	left: -3px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/03.jpg") no-repeat right center;
	background-size: cover;
}

#u250-8
{
	z-index: 50;
	width: 289px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#pu246
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 305px;
	margin-left: 708px;
}

#u246
{
	z-index: 21;
	width: 572px;
	height: 404px;
	position: relative;
	background: transparent url("../images/pq1v2.jpg") no-repeat center center;
	background-size: cover;
}

#u249
{
	z-index: 19;
	width: 342px;
	padding-bottom: 115px;
	margin-left: 230px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/athens_night_pyli_adrianou_510_340.jpg") no-repeat right center;
	background-size: cover;
}

#u251-8
{
	z-index: 80;
	width: 289px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u231-bw
{
	z-index: 10;
	min-height: 1275px;
	margin-top: 1944px;
}

#u229
{
	z-index: 11;
	height: 712px;
	background: #F7F7F7 url("../images/03.jpg") no-repeat center center;
	background-size: cover;
}

#u229-bw
{
	z-index: 11;
	margin-top: 1252px;
	height: 712px;
}

#u174
{
	z-index: 12;
	width: 537px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 359px;
	left: 128px;
}

#u244_position_content,#u174_position_content
{
	margin-top: -46px;
	padding-bottom: 204px;
}

#u180
{
	z-index: 14;
	width: 576px;
	padding-bottom: 99px;
	left: -3px;
	position: relative;
	background: transparent url("../images/21_bowie3_g_w.jpg") no-repeat right center;
	background-size: cover;
}

#u189-10
{
	z-index: 22;
	width: 289px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 268px;
}

#u200
{
	z-index: 16;
	width: 806px;
	padding-bottom: 115px;
	left: -3px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/03.jpg") no-repeat right center;
	background-size: cover;
}

#u207-8
{
	z-index: 42;
	width: 289px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u217-2,#u250-2,#u251-2,#u207-2
{
	font-size: 72px;
	text-transform: uppercase;
	line-height: 58px;
}

#u219-7
{
	z-index: 58;
	width: 972px;
	min-height: 275px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 137px;
}

#u242-7
{
	z-index: 65;
	width: 972px;
	min-height: 275px;
	background-color: transparent;
	color: #534741;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 2085px;
	left: 137px;
}

#u219-3,#u242-3
{
	font-size: 118px;
	text-transform: uppercase;
	line-height: 94px;
	letter-spacing: -5px;
	font-family: raleway, sans-serif;
	font-weight: 700;
}

#u219,#u242
{
	color: #FF0000;
}

#u219-5,#u242-5
{
	font-size: 18px;
	line-height: 20px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u199-10
{
	z-index: 88;
	width: 188px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 722px;
}

#u247-10
{
	z-index: 98;
	width: 188px;
	min-height: 275px;
	background-color: transparent;
	color: #FF0000;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2279px;
	left: 722px;
}

#u245-3,#u189-3,#u199-3,#u247-3
{
	font-size: 44px;
	line-height: 35px;
}

#u217-6,#u245-4,#u245-8,#u250-6,#u251-6,#u189-4,#u189-8,#u207-6,#u199-4,#u199-8,#u247-4,#u247-8
{
	font-size: 18px;
	line-height: 14px;
}

#u217,#u217-4,#u245,#u245-6,#u250,#u250-4,#u251,#u251-4,#u189,#u189-6,#u207,#u207-4,#u199-2,#u199-6,#u247-2,#u247-6
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

